<!--The content below is only a placeholder and can be replaced.-->
<main-nav>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <summary>
      A delightful world of living the onwuka way!
    </summary>
  </div>
  <div class="gibberish-text">
      <p>
          Sravan says hi. 
          Declare that you will live your life the Onwuka way, now and forever. 
          Living the Onwuka way will make you truly happy. 
          What is the Onwuka way you ask? 
          Well, firstly you have to give all your money to Onwuka. 
          If you don't have enough money, you should find a way to make a lot of money. 
          Then, you can give the money to Onwuka. 
          Now, the next step is very important. 
          You have to sign what is called a certificate of sanity. 
          If you are clinically insane, Onwuka cannot keep your money. 
          Thus, please talk to your doctor before you give Onwuka your money. 
          Now, that I have wasted enough space to write this nonsense, 
          I think I can be confident that I have enough text to wrap around on 
          a display of any size. 
          But wait, what about the iMac 27 inch with retina display, you ask. 
          Well that means I just have to keep writing, don't I? 
          If you didn't find out by now by Onwuka is not a real lifestyle brand. 
          It is not even a brand at all. 
          It is just a simple website to learn Angular Material design. 
          You can get started with Angular material at 
          <a href="https://material.angular.io/guide/getting-started" 
            title="Getting Started">
            https://material.angular.io/guide/getting-started
          </a>. 
        </p>
        <div class="agreementButtons">
          <button mat-raised-button color="primary">{{ acknowledgeButton }}</button>
          <button mat-button color="primary">{{ declineButton }}</button>
          <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
        </div>
  </div>
  <price-table></price-table>
</main-nav>
